/* **************** Hintergrund Farbstreifen Start**************** */

@mixin hinterGrundGestreift ($grad, $blau, $gelb, $rot, $lila, $breite, $hoehe) {

    background-image: linear-gradient($grad, $blau 12.50%, $gelb 12.50%, $gelb 25%, $rot 25%, $rot 37.50%, $lila 37.50%, $lila 50%, $blau 50%, $blau 62.50%, $gelb 62.50%, $gelb 75%, $rot 75%, $rot 87.50%, $lila 87.50%, $lila 100%);
    background-size: $breite $hoehe;
}

$grad: 57deg;
$blau: #5bf2fd;
$gelb: #fbc736;
$rot: #fd5f5e;
$lila: #bb4dfa;
$breite: 100vw;
$hoehe: 100vh;

/* *************** Hintergrund Farbstreifen Ende *****************/


*{
     margin: 0;
     padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    max-width: 1440px;
    scroll-behavior: smooth;
    overflow: hidden;

    @include hinterGrundGestreift ($grad, $blau, $gelb, $rot, $lila, $breite, $hoehe);
    background-repeat: no-repeat;
}

/* ***************** header *************** */
/* ***************** header *************** */
/* ***************** header *************** */
.classVonAHeader {
    background-color: red;
    padding-left: 5vw;
    margin-top: 5vh;

    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    
}

/* ***************** main *************** */
/* ***************** main *************** */
/* ***************** main *************** */
